button {
  padding: 1em;
  background-color: white;
  border: 1px solid $lightPurple;
  border-radius: .5em;
  color: $darkPurple;
  font-size: .8em;
  transition: .3s;

  &:hover {
    color: $lightPurple;
    border: 1px solid transparent;
  }
}
