.course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    padding: 1rem;
    width: 100%;
    min-height: 180px;
    border-radius: 4px;
    box-shadow: 10px 10px 0 rgb(174, 135, 191);
    background-color: #fff;
    & h2 {
      padding-bottom: 1em;
    }
    & p {
      padding-bottom: 1em;
    }
}
