* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal normal 16px Verdana, Arial, sans-serif;
}

body {
    background-color: $mainBgc;
}

h1 {
  font-size: 2.5em;
  color: white;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

#wrapper {
    display: grid;
    grid-gap: 2em;
    width: 100vw;
}

#courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

footer {
  align-self: end;

  display: flex;
  align-items: center;
  width: 100vw;
  background-color: $darkPurple;
  color: white;
  font-weight: lighter;
  height: 75px;
  padding: 0 1em;

  a {
    color: white;
    text-decoration: none;
    transition: .4s;

    &:hover {
      color: $lightPurple;
    }
  }
}
