* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal normal 16px Verdana, Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: start;
  background-color: $mainBgc;
}

h1 {
  font-size: 2.5em;
  color: white;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

#wrapper {
    display: grid;
    grid-gap: 2em;
    width: 100vw;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 0 2em;
}

.projects {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 760px) {
  .projects, .courses {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 610px) {
  .projects, .courses {
    grid-template-columns: 1fr;
  }
}
