* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal normal 16px Verdana, Arial, sans-serif;
}

body {
    background-color: #b199bb;
}

h1 {
  font-size: 2.5em;
  color: $dark-purple;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

#wrapper {
    margin: .5rem auto;
    width: 90vw;
    &:first-of-type {
      grid-auto-columns: 100%;
    }
    &:last-of-type {
      grid-auto-columns: 100%;
    }
}

#courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
