@font-face {
  font-family: 'Play', sans-serif;
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #007a9a;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 1.3em;
}
#container {
  width: 40%;
  text-align: center;
  margin: 200px auto;
  font-family: Play;
}
#container h1 {
  text-transform: uppercase;
}
#container #timer {
  font-size: 3em;
}
